.box-two-thirds {
  background-color: #e5ecf4;
  border-radius: 28px;
  width: 320px;
}

button {
  cursor: pointer;
}

.blue-box {
  background-color: #e5ecf4;
}

.rounted-box {
  border-radius: 28px;
}

.width-50 {
  width: 50%;
}

input {
  width: 90px;
}

.align-right {
  text-align: right;
}

.font-regular {
  font-family: 'Nunito Sans', sans-serif;
}

.blue-text {
  color: #0d3b66;
}

td {
  padding-right: 0.5rem;
}

.save-button {
  background-color: #bad2ed;
  border: 0;
  padding: 0.3rem 1rem;
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}

.route-check-boxes {
  margin-top: 1rem;
  margin-left: 0.7rem;
}

.box-padding {
  padding: 0.5rem;
}

.rounded-button {
  border-radius: 5px;
}

.map-div {
  height: 400px;
  width: 400px;
}

.check-box {
  margin: 0;
  width: 10px;
}

.route-alert-div {
  width: 10rem;
  height: 5rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
