.box-two-thirds {
  background-color: #e5ecf4;
  width: 320px;
}

.alerts-box {
  background-color: #e5ecf4;
  width: 350px;
}

button {
  cursor: pointer;
}

.blue-box {
  background-color: #e5ecf4;
}

.rounted-box {
  border-radius: 0.25rem;
}

.width-50 {
  width: 50%;
}

.nav-ul {
  padding-top: 1.5rem;
  padding-left: 1rem;
  text-align: left;
}

input {
  width: 60px;
}

.align-right {
  text-align: right;
}

.font-regular {
  font-family: 'Nunito Sans', sans-serif;
}

.font-heavy {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
}

.nav-a {
  text-decoration: none;
}

.nav-color {
  color: #0d3b66;
}

.live-page {
  color: white;
}

.blue-text {
  color: #0d3b66;
}

td {
  padding-right: 0.5rem;
}

.save-button {
  background-color: #bad2ed;
  border: 0;
  padding: 0.3rem 1rem;
}

.save-button-margin {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}

.alert-button-margin {
  margin-top: 1.5rem;
  margin-left: 0;
}

.route-check-boxes {
  margin-top: 1rem;
  margin-left: 0.7rem;
}

.box-padding {
  padding: 0.5rem;
}

.vehicle-info {
  width: 80%;
}

.vehicle-info-edit {
  width: 80%;
}

.one-third {
  width: 22%;
  border: 1px black solid;
}

.two-third {
  width: 56%;
  padding: 1rem;
  border: 1px black solid;
}

.nav-box {
  width: 8rem;
  height: 12rem;
}

.nav-item {
  list-style-type: none;
}

.purple {
  background-color: #c3bef7;
}

.rounded-button {
  border-radius: 5px;
}

.map-div {
  height: 400px;
  width: 400px;
}

.check-box {
  margin: 0;
  width: 10px;
}

.route-alert-div {
  width: 15rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.driver-p {
  margin: 0.3rem 0;
}

.center-vertical {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.vehicle-photo-div {
  background-color: lightgray;
  width: 10rem;
  height: 10rem;
}

.photo-margin-div {
  padding-top: 20%;
  position: relative;
}

.photo-button-div {
  padding: 0.5rem;
}

input[type="file"] {
  display: none;
}

.photo-label {
  width: 80px;
  margin-bottom: 1rem;
}

.route-alert-box {
  width: 12rem;
  padding: 0.5px;
  margin-top: 1rem;
}

.driver-info-edit {
  margin-top: 1rem;
}

.list-map-div {
  height: 200px;
  width: 110%;
  margin-top: 10rem;
}

.list-margin {
  margin-top: 1rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.driver-info-margin {
  margin-top: 1rem;
}

.list-padding {
  padding: 0.5rem;
}

img {
  width: 100%;
  height: inherit;
}

.vehicle-photo {
  object-fit: scale-down;
}

.photo-form {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
}

.vehicle-profile-map {
  width: 100;
  height: 100px;
  border: 1px black solid;
}


/* Mobile styling */

.mobile-title {
  text-align: center;
}

i {
  position: absolute;
  padding: 0.5rem;
}

.nav-div {
  width: 100px;
  background-color: white;
  border: 0;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

p {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .map-div {
    width: 200px;
    height: 200px;
    padding: 0.5rem;
  }

  .one-third {
    width: 100%;
  }

  .two-third {
    width: 100%;
  }

  .vehicle-list-item {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .vehicle-info-desktop {
    display: none;
  }
}

/* nav end  */
