body {
  font-family: 'Nunito Sans', sans-serif;
}

.box-two-thirds {
  background-color: #e5ecf4;
  width: 320px;
}

.alerts-box {
  padding: 1rem;
  background-color: #e5ecf4;
  width: 350px;
}

button {
  cursor: pointer;
}

.blue-box {
  background-color: #e5ecf4;
}

.rounted-box {
  border-radius: 0.25rem;
}

.title-rounded {
  border-radius: 1rem;
}

.width-50 {
  width: 50%;
}

.title-text {
  text-align: center;
  margin: 0;
}

.banner {
  width: 100%;
  height: 30px;
  position: relative;
  margin-top: 0;
}

.hamburger-col {
  position: absolute;
}

.nav-ul {
  padding-top: 1.5rem;
  padding-left: 1rem;
  text-align: left;
}

input {
  width: 60px;
}

.align-right {
  text-align: right;
}

.float-right {
  margin-left: 70%;
}

.font-heavy {
  font-weight: 900;
}

.font-small {
  font-size: smaller;
}

.nav-a {
  text-decoration: none;
}

.nav-color {
  color: #0d3b66;
}

.live-page {
  color: white;
  transition: 0.5s;
}

.blue-text {
  color: #0d3b66;
}

td {
  padding-right: 0.5rem;
}

.list-bottom-padding {
  padding-bottom: 1rem;
}

.save-button {
  background-color: #bad2ed;
  border: 0;
  padding: 0.3rem 1rem;
}

.save-button-margin {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}

.speed-input {
  padding: 0.2rem 0;
  width: 99%;
}

.speed-div {
  width: 80%;
}

.update-div {
  width: 18%;
}

.update-button {
  background-color: #bad2ed;
  border: 0;
  padding: 0.3rem 1rem;
}

.alert-button-div-mobile {
  width: 80%;
}

.route-check-boxes {
  margin-top: 1rem;
  margin-left: 0.7rem;
}

.box-padding {
  padding: 0.5rem;
}

.list-item-right-padding {
  padding-right: 3rem;
}

.vehicle-info {
  width: 80%;
}

.vehicle-info-edit {
  width: 80%;
}

.one-third {
  width: 26%;
}

.two-third {
  width: 45%;
}

.vehicle-info-margin {
  margin: 0;
}

.stop-profile-map-desktop {
  width: 320px;
  margin-top: 1rem;
}

.nav-box {
  width: 8rem;
  height: 12rem;
}

.nav-item {
  list-style-type: none;
}

.purple {
  background-color: #c3bef7;
}

.rounded-button {
  border-radius: 5px;
}

.map-div {
  height: 400px;
  width: 550px;
  margin-top: 1rem;
}

.check-box {
  margin: 0;
  width: 10px;
}

.route-button {
  width: 15rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.driver-p {
  margin: 0.3rem 0;
}

.center-vertical {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.vehicle-photo-div {
  background-color: lightgray;
  width: 10rem;
  height: 10rem;
  margin-top: 4rem;
}

.photo-margin-div {
  padding-top: 20%;
  position: relative;
}

.photo-button-div {
  padding: 0.5rem;
}

input[type="file"] {
  display: none;
}

.photo-label {
  width: 80px;
  margin-bottom: 1rem;
}

.route-alert-box {
  width: 12rem;
  padding: 0.5px;
  margin-top: 1rem;
}

.driver-info-edit {
  margin-top: 1rem;
}

.driver-info-mobile {
  margin-top: 1rem;
}

.send-button-margin-top {
  margin-top: 1rem;
}

.mobile-alerts {
  margin-top: 5rem;
  width: 80%;
}

.list-map-div {
  height: 200px;
  width: 100%;
}

.list-map-margin {
  margin-top: 5rem;
}

.list-margin {
  margin-top: 1rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.padding-left-1rem {
  padding-left: 1rem;
}

.driver-info-margin {
  margin-top: 1rem;
}

.list-padding {
  padding: 0.5rem;
}

img {
  width: 100%;
  height: inherit;
}

.vehicle-photo {
  object-fit: scale-down;
}

.alert-button-margin {
  margin: 1rem;
}

.photo-form {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
}

.vehicle-profile-map {
  width: 100;
  height: 100px;
}

/* Loading spinners  */
.lds-circle {
  transform: translateZ(1px);
}

.lds-circle > div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #c3bef7;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }

  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }

  100% {
    transform: rotateY(3600deg);
  }
}


/* Mobile styling */
.mobile-title {
  text-align: center;

  /* padding: 0.5rem; */
}

i {
  position: absolute;
  padding: 0.5rem;
}

.nav-div {
  width: 110px;
  background-color: white;
  border: 0;
  height: 100vh;
  position: absolute;
  z-index: 1;
}

p {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .map-div {
    width: 99%;
    height: 250px;
    padding: 0.5rem;
  }

  .vehicle-photo-div {
    display: none;
  }

  .mobile-bar {
    width: 80%;
  }

  .one-third {
    width: 100%;
  }

  .two-third {
    width: 100%;
  }

  .vehicle-list-item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .vehicle-info-desktop {
    display: none;
  }

  .driver-info-edit {
    display: none;
  }

  .route-alert-box {
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  .stop-profile-map-desktop {
    display: none;
  }

  .margin-left-offset-mobile {
    margin-left: 2rem;
  }

  .mobile-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .margin-left-map-mobile {
    margin-left: 1.7rem;
  }

  .margin-left-offset-1rem-mobile {
    margin-left: 2rem;
  }

  .stop-profile-map-mobile {
    width: 90%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .alert-button-div {
    display: none;
  }

  .list-map-div {
    margin-top: 1rem;
  }

  .stop-profile-map-div {
    height: 250px;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .driver-info-mobile {
    display: none;
  }

  .vehicle-info-mobile {
    display: none;
  }

  .stop-profile-map-mobile {
    display: none;
  }

  .mobile-bar {
    display: none;
  }

  .alert-button-div-mobile {
    display: none;
  }

  .mobile-alerts {
    display: none;
  }
}

/* nav end  */
